.fullwrapper{
	width: 100%;
}

.header{
	width:100%;
}

.container{
    width: 75%;
    margin: 0 auto;
}

#skills{
	background-color: #ebebeb;
	margin-top: -21px;
	padding: 20px 0;
}

.btn_behance{
	background-color: #18bc9c;
}